@font-face {
	font-family: Phi;
	src: url(../assets/Exo-Regular.d901.otf);
	src: url("../assets/Source%20Han%20Sans%20&%20Saira%20Hybrid-Regular.98af.ttf");
	/* src: url(./Saira.woff2)format('woff2'); */
}
@font-face {
	font-family: Mina;
	src: url(../assets/Exo-Regular.d901.otf);
	src: url("../assets/Source%20Han%20Sans%20&%20Saira%20Hybrid-Regular.98af.ttf");
	/* src: url(./Saira.woff2)format('woff2'); */
}

* {
	font-family: Phi;
}

* {
	user-select: none;
}

input{
	user-select: unset;
}

div.backBtn {
	position: fixed;
	left: -15px;
	top: 5px;
	width: 100px;
	height: 50px;
	z-index: 1;
	cursor: pointer;
}
div.backBtn::before {
	content: '';
	position: absolute;
	left: -15px;
	top: 0;
	height: 100%;
	width: 100%;
	background: #000;
	z-index: 1;
	filter: drop-shadow(#fff 5px 0);
}
div.backBtn::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background: url(../assets/Back.0514.svg) no-repeat center center;
	transform: scale(0.3);
	z-index: 5;
}
div.avatarBar {
	position: fixed;
	right: -6px;
	top: 0;
	margin: 10px 0;
	background-color: #000;
	transform: skew(-15deg);
	/* width: fit-content; */
	height: 50px;
	background: #000 no-repeat;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: all 0.3s ease-in-out;
	z-index: 1;
}
div.avatarBar.expand {
	padding-left: 20px;
}
div.avatarBar.expand::before {
	content: attr(data-name);
	color: #fff;
	width: fit-content;
	font-size: 1.3rem;
	transform: skew(15deg);
	margin-right: 0.8em;
}
div.avatarBar::before {
	content: attr(data-name);
	width: 0;
}
div.avatarBar::after {
	content: attr(data-rks);
	width: 50px;
	text-align: center;
	font-size: 14px;
	transform: translateX(-10px);
	align-self: flex-end;
	color: #000;
	background: #fff;
	z-index: 10;
}
div.avatarBar > div.avatar {
	--avatar: url(../assets/Avatar.cdd7.svg);
	height: 100%;
	width: 100px;
	background: var(--avatar) no-repeat center center;
	background-size: cover;
	transform: skew(15deg);
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
div.avatarBar > div.avatar::before,
div.avatarBar > div.avatar::after {
	content: '';
	height: 100%;
	width: 20px;
	display: block;
	background: #000;
	transform: skew(-15deg) translateX(-10px);
	margin: 0;
	padding: 0;
}
div.avatarBar > div.avatar::after {
	transform: skew(-15deg) translateX(10px);
}

html,
body {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	height: 100%;
	width: 100%;
	/* overflow: hidden; */
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
* {
	outline: none;
}
html {
	background: url(../assets/ElementSqare.Half.Size.f7ec.webp) center center
		no-repeat fixed;
	background-size: cover;
}
html::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: url(../assets/ElementSqare.Half.Size.f7ec.webp) center center
		no-repeat fixed;
	background-size: cover;
	filter: blur(10px);
	z-index: -1;
}
div.container {
	height: 300px;
	width: 500px;
	background: #dddddf;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	overflow: hidden;
}
div.container div.title {
	width: 100%;
	padding: 10px;
	background: linear-gradient(to right, #0173ff, #588de4);
	color: #fff;
	text-align: center;
	font-weight: bold;
}
div.container div.content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: max-content;
}
div.container div.content div.description {
	font-size: 12px;
	padding: 10px;
	text-align: center;
}
div.container div.content button#clickBtn {
	width: 50px;
	height: 50px;
	margin: 10px;
	background: #b7b6bb;
	color: #000;
	border: 1.5px solid #939394;
	color: #fff;
	text-shadow: 1px 1px 1px #9f9f9f;
	font-weight: bold;
	cursor: pointer;
}
div.container div.content div.results {
	width: 60%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	color: #000;
	text-align: center;
}
div.container div.content div.results div:first-child {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-left: 1.4px #9f9f9f solid;
}
div.container div.content div.results div:last-child {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-right: 1.4px #9f9f9f solid;
}
div.container div.content div.results div {
	border: 1.2px #9f9f9f solid;
	width: 25%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #fff;
}
div.container div.footer {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: center;
	align-items: center;
}
div.container div.footer button {
	width: 50%;
	padding: 5px;
	cursor: pointer;
}
div.container div.footer button#startBtn {
	background: #0173ff;
	color: #fff;
	font-size: 16px;
	border: none;
	border-right: 1px solid #fff;
}
div.container div.footer button#cancelBtn {
	background: #588de4;
	color: #fff;
	font-size: 16px;
	border: none;
	border-left: 1px solid #fff;
}

