@font-face {
	font-family: Phi;
	src: url(../assets/Exo-Regular.d901.otf);
	src: url("../assets/Source%20Han%20Sans%20&%20Saira%20Hybrid-Regular.9204.ttf");
	/* src: url(./Saira.woff2)format('woff2'); */
}
@font-face {
	font-family: Mina;
	src: url(../assets/Exo-Regular.d901.otf);
	src: url("../assets/Source%20Han%20Sans%20&%20Saira%20Hybrid-Regular.9204.ttf");
	/* src: url(./Saira.woff2)format('woff2'); */
}

* {
	font-family: Phi;
}

* {
	user-select: none;
}

input{
	user-select: unset;
}

div.backBtn {
	position: fixed;
	left: -15px;
	top: 5px;
	width: 100px;
	height: 50px;
	z-index: 1;
	cursor: pointer;
}
div.backBtn::before {
	content: '';
	position: absolute;
	left: -15px;
	top: 0;
	height: 100%;
	width: 100%;
	background: #000;
	z-index: 1;
	filter: drop-shadow(#fff 5px 0);
}
div.backBtn::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background: url(../assets/Back.0514.svg) no-repeat center center;
	transform: scale(0.3);
	z-index: 5;
}
div.avatarBar {
	position: fixed;
	right: -6px;
	top: 0;
	margin: 10px 0;
	background-color: #000;
	transform: skew(-15deg);
	/* width: fit-content; */
	height: 50px;
	background: #000 no-repeat;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: all 0.3s ease-in-out;
	z-index: 1;
}
div.avatarBar.expand {
	padding-left: 20px;
}
div.avatarBar.expand::before {
	content: attr(data-name);
	color: #fff;
	width: fit-content;
	font-size: 1.3rem;
	transform: skew(15deg);
	margin-right: 0.8em;
}
div.avatarBar::before {
	content: attr(data-name);
	width: 0;
}
div.avatarBar::after {
	content: attr(data-rks);
	width: 50px;
	text-align: center;
	font-size: 14px;
	transform: translateX(-10px);
	align-self: flex-end;
	color: #000;
	background: #fff;
	z-index: 10;
}
div.avatarBar > div.avatar {
	--avatar: url(../assets/Avatar.cdd7.svg);
	height: 100%;
	width: 100px;
	background: var(--avatar) no-repeat center center;
	background-size: cover;
	transform: skew(15deg);
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
div.avatarBar > div.avatar::before,
div.avatarBar > div.avatar::after {
	content: '';
	height: 100%;
	width: 20px;
	display: block;
	background: #000;
	transform: skew(-15deg) translateX(-10px);
	margin: 0;
	padding: 0;
}
div.avatarBar > div.avatar::after {
	transform: skew(-15deg) translateX(10px);
}

html {
	background: url(../assets/ElementSqare.Half.Size.f7ec.webp) no-repeat
		center center fixed;
	background-size: cover;
}
html,
body {
	/* display: flex;
	align-items: center; */
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	overflow: hidden;
	/* transition: all 0.5s ease-out; */
}
#body {
	--gamma: 0;
	--translate-x: calc(-2px * var(--gamma) / 180 * 30);
	transform: translateX(var(--translate-x));
}
div.blackBoard {
	width: 100%;
	height: 80%;
	background: url(../assets/showgirl_Half.b325.png) no-repeat bottom left;
	background-size: contain;
	position: fixed;
	transition: all 0.3s ease;
	bottom: 0;
	left: 10%;
	z-index: 0;
}
div.mainActivityArea {
	height: 80%;
	width: 40%;
	position: fixed;
	right: 7.5%;
	bottom: 10%;
	margin: 0;
	padding: 0;
	display: flex;
	transform: perspective(30em) rotateY(-10deg) scale(0.9);
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
}

div#recentUpdContent{
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	font-size: 18px;
	padding: 20px 0;
	margin-bottom: 20px;
	color: #fff;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	background: rgba(0,0,0,0.6);
}
div#recentUpdContent::before{
	content: '\3000近期更新内容:\3000';
}

div#startToPlayBtn{
	width: 100%;
	height: 60%;
	background-size: contain;
	font-size: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 5% !important;
	overflow: hidden;
}
div#startToPlayBtn,
div#cacheControl,
div.buttomLayer > div {
	cursor: pointer;
	color: #fff;
	background: linear-gradient(to right, #0173ffd7, #588de4d7);
	backdrop-filter: blur(10px);
	box-shadow: 0 0 10px 0 #0173fff7;
}

div.buttomLayer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 35%;
	padding: 15px;
}
div.buttomLayer > div {
	height: 100%;
	width: 45%;
	font-size: 2rem;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}
@media screen and (max-width: 576px) {
	body {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0;
		padding: 0;
	}
	div.blackBoard {
		display: none;
	}
	div.mainActivityArea {
		width: 95%;
		margin: 0;
		padding: 0;
		position: unset;
	}
}

