@font-face {
	font-family: Phi;
	src: url(../assets/Exo-Regular.otf);
	src: url("../assets/Source%20Han%20Sans%20&%20Saira%20Hybrid-Regular.ttf");
	/* src: url(./Saira.woff2)format('woff2'); */
}
@font-face {
	font-family: Mina;
	src: url(../assets/Exo-Regular.otf);
	src: url("../assets/Source%20Han%20Sans%20&%20Saira%20Hybrid-Regular.ttf");
	/* src: url(./Saira.woff2)format('woff2'); */
}

* {
	font-family: Phi;
}

* {
	user-select: none;
}

input{
	user-select: unset;
}

div.backBtn {
	position: fixed;
	left: -15px;
	top: 5px;
	width: 100px;
	height: 50px;
	z-index: 1;
	cursor: pointer;
}
div.backBtn::before {
	content: '';
	position: absolute;
	left: -15px;
	top: 0;
	height: 100%;
	width: 100%;
	background: #000;
	z-index: 1;
	filter: drop-shadow(#fff 5px 0);
}
div.backBtn::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background: url(../assets/images/Back.svg) no-repeat center center;
	transform: scale(0.3);
	z-index: 5;
}
div.avatarBar {
	position: fixed;
	right: -6px;
	top: 0;
	margin: 10px 0;
	background-color: #000;
	transform: skew(-15deg);
	/* width: fit-content; */
	height: 50px;
	background: #000 no-repeat;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: all 0.3s ease-in-out;
	z-index: 1;
}
div.avatarBar.expand {
	padding-left: 20px;
}
div.avatarBar.expand::before {
	content: attr(data-name);
	color: #fff;
	width: fit-content;
	font-size: 1.3rem;
	transform: skew(15deg);
	margin-right: 0.8em;
}
div.avatarBar::before {
	content: attr(data-name);
	width: 0;
}
div.avatarBar::after {
	content: attr(data-rks);
	width: 50px;
	text-align: center;
	font-size: 14px;
	transform: translateX(-10px);
	align-self: flex-end;
	color: #000;
	background: #fff;
	z-index: 10;
}
div.avatarBar > div.avatar {
	height: 100%;
	width: 100px;
	background: url(../assets/images/Avatar.svg) no-repeat center center;
	background-size: cover;
	transform: skew(15deg);
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
div.avatarBar > div.avatar::before,
div.avatarBar > div.avatar::after {
	content: '';
	height: 100%;
	width: 20px;
	display: block;
	background: #000;
	transform: skew(-15deg) translateX(-10px);
	margin: 0;
	padding: 0;
}
div.avatarBar > div.avatar::after {
	transform: skew(-15deg) translateX(10px);
}

html,
body {
	box-sizing: border-box;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}
body {
	background: url(../assets/images/ElementSqare.Half.Size.webp) center center
		no-repeat fixed;
	background-size: cover !important;
	backdrop-filter: blur(1px);
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
}
body::before {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: url(../assets/images/ElementSqare.Half.Size.webp) center center
		no-repeat fixed;
	background-size: cover;
	filter: blur(1px);
	z-index: -1;
}
div.tip::before {
	content: 'Tip: ';
}
div.tip {
	color: #000;
	position: fixed;
	left: 2%;
	bottom: 5%;
	text-shadow: 0 0 5px #000;
}
div.loadingBar {
	position: fixed;
	right: 2%;
	bottom: 5%;
	overflow: hidden;
}
div.loadingBarTxT {
	color: #000;
	z-index: 999;
	animation: loadingBarTXTAnim 1s ease-in-out infinite;
	text-shadow: 0 0 10px #000;
}
div.loadingBarBG {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
	background-color: #fff;
	animation: loadingBarBGAnim 1s ease-in-out infinite;
}
@keyframes loadingBarBGAnim {
	0% {
		left: -100%;
	}
	100% {
		left: 200%;
	}
}
@keyframes loadingBarTXTAnim {
	0% {
		color: #fff;
	}
	50% {
		color: #000;
	}
	100% {
		color: #fff;
	}
}

