{
	"endOfLine": "crlf",
	"embeddedLanguageFormatting": "auto",
	"htmlWhitespaceSensitivity": "css",
	"semi": true,
	"singleQuote": true,
	"tabWidth": 4,
	"useTabs": true,
	"printWidth": 256,
	"useEditorConfig": false,
	"jsxBracketSameLine": true
}
