@font-face {
	font-family: Phi;
	src: url(./Exo-Regular.otf);
	src: url(./Source\ Han\ Sans\ &\ Saira\ Hybrid-Regular.ttf);
	/* src: url(./Saira.woff2)format('woff2'); */
}
@font-face {
	font-family: Mina;
	src: url(./Exo-Regular.otf);
	src: url(./Source\ Han\ Sans\ &\ Saira\ Hybrid-Regular.ttf);
	/* src: url(./Saira.woff2)format('woff2'); */
}

* {
	font-family: Phi;
}
