@font-face {
	font-family: Phi;
	src: url(./Exo-Regular.woff2)format('woff2');
	src: url(./SourceHanSans&SairaHybrid.woff2)format('woff2');
	src: url(./Exo-Regular.woff)format('woff');
	src: url(./SourceHanSans&SairaHybrid.woff)format('woff');
	/* src: url(./Saira.woff2)format('woff2'); */
}
@font-face {
	font-family: Mina;
	src: url(./Exo-Regular.woff2)format('woff2');
	src: url(./SourceHanSans&SairaHybrid.woff2)format('woff2');
	src: url(./Exo-Regular.woff)format('woff');
	src: url(./SourceHanSans&SairaHybrid.woff)format('woff');
	/* src: url(./Saira.woff2)format('woff2'); */
}

* {
	font-family: Phi;
}

* {
	user-select: none;
}

input{
	user-select: unset;
}
